.dataType {
    color: blue;
    font: 15px Arial, sans-serif bold;
}

.trueFalse{
    color: blue;
    font: 15px Arial, sans-serif bold;
}

.rovnitko{
    color: blue;
    font: 15px Arial, sans-serif bold;
}

.publicPrivate{
    color: blue;
    font: 15px Arial, sans-serif bold;
}

.operator{
    color: blue;
    font: 15px Arial, sans-serif bold;
}

.packageImport{
    color: blue;
    font: 15px Arial, sans-serif bold;
}

.ackageImport{
    color: blue;
    font: 15px Arial, sans-serif bold;
}